.projectsSection {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 20px 10px;
    backdrop-filter: blur(50px);
}

.projectsSection>h1 {
    font-size: 40px;
    font-weight: 800;
    color: black;
}

.projectsSection .projects-image {
    padding: 20px;
    width: 40%;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.312);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectsSection .projects-image img {
    height: fit-content;
    width: 100%;
    max-height: 200px;

}

.projectsSection .projects-image h2 {
    text-align: center;
    font-size: 24px;
}

.projectsSection .info-projects {
    padding: 20px;
    width: 60%;

}

.projectsSection .info-projects>span {
    display: flex;
    gap: 20px;
    margin: 1rem 0;
}

.projectsSection .info-projects span h2 {
    font-size: 1.7vw;
    color: rgba(255, 231, 0, 1);
    text-transform: uppercase;
    margin: 2px 20px;
    text-align: end;
    min-width: 200px;
}

.projectsSection .info-projects span h3 {
    font-size: 1.5vw;
    border-bottom: 2px solid white;
}

.projectsSection .info-projects span p,
.projectsSection .info-projects span h3 {
    opacity: 0.7;
    text-align: start;
}

.projectsSection .info-projects span p {
    font-size: 1vw;
}

@media only screen and (max-width:991px) {
    .projectsSection {
        flex-direction: column;
    }

    .projectsSection .projects-image {
        width: 100%;
    }

    .projectsSection .info-projects {
        width: 100%;
    }
}
@media only screen and (max-width:767px) {
    .projectsSection .info-projects span h2{
        margin: 2px;
        text-align: start;
        min-width: 100px;
    }
}
@media only screen and (max-width:526px) {
    .projectsSection .info-projects span h2{
        margin: 2px;
        text-align: start;
        min-width: 50px;
    }
}