.personalStatCard{
    height: 150px;
    width: 250px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 10px;
    padding: 10px 35px;
}
.personalStatCard h1{
    font-size: 50px;
    color: rgba(255, 231, 0, 1);
}
.personalStatCard span{
    font-size: 20px;
    text-align: start;
    text-wrap: wrap;
}
@media only screen and (max-width:590px) {
    .personalStatCard{
        width: 100%;
    }
}